.root {
  box-sizing: border-box;
  font-family: var(--fontFamily);
  max-width: 100%;
}

.display--block {
  display: block;
}

.display--inline-block {
  display: inline-block;
  vertical-align: middle;
}

.display--flex {
  display: flex;
}

.display--inline-flex {
  display: inline-flex;
  vertical-align: middle;
}

.textAlign--start {
  text-align: start;
}

.textAlign--center {
  text-align: center;
}

.textAlign--end {
  text-align: end;
}

.debug {
  outline: 0.0625rem dashed var(--debugOutlineColor);
}

.border {
  border-style: var(--borderStyle);
  border-color: var(--borderColor);

  &.background--inverse {
    border-color: var(--borderColorInverse);
  }
}

.background--default {
  color: var(--color);
  background: var(--background);
}

.background--inverse {
  color: var(--colorInverse);
  background: var(--backgroundInverse);
}

.background--light {
  color: var(--color);
  background: var(--backgroundLight);
}

.size--x-small {
  max-width: var(--xSmallMaxWidth);
}

.size--small {
  max-width: var(--smallMaxWidth);
}

.size--medium {
  max-width: var(--mediumMaxWidth);
}

.size--large {
  max-width: var(--largeMaxWidth);
}

.size--fullscreen {
  max-width: 100vw;
}

.stacking--topmost {
  z-index: var(--stackingTopmost);
}

.stacking--above {
  z-index: var(--stackingAbove);
}

.stacking--resting {}

.stacking--below {
  z-index: var(--stackingBelow);
}

.stacking--deepest {
  z-index: var(--stackingDeepest);
}

.shadow--topmost {
  box-shadow: var(--shadowTopmost);
}

.shadow--resting {
  box-shadow: var(--shadowResting);
}

.shadow--above {
  box-shadow: var(--shadowAbove);
}

.overflowX--hidden {
  overflow-x: hidden;
}

.overflowX--auto {
  overflow-x: auto;
}

.overflowY--hidden {
  overflow-y: hidden;
}

.overflowY--auto {
  overflow-y: auto;
}
