.alert {
  color: var(--color);
  background: var(--background);
  box-sizing: border-box;
  box-shadow: var(--boxShadow);
  display: flex;
  min-width: 12rem;
  border-width: var(--borderWidth);
  border-style: var(--borderStyle);
  border-radius: var(--borderRadius);
}

.content {
  box-sizing: border-box;
  flex: 1;
  min-width: 0.0625rem;
  font-size: var(--contentFontSize);
  font-family: var(--contentFontFamily);
  font-weight: var(--contentFontWeight);
  line-height: var(--contentLineHeight);
  padding: var(--contentPadding);
}

.icon {
  color: var(--iconColor);
  box-sizing: border-box;
  flex: 0 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border-right: var(--borderWidth) var(--borderStyle); /* or else icon looks off center */
}

.closeButton {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  order: 1;
  margin-top: var(--closeButtonMarginTop);
  margin-right: var(--closeButtonMarginRight);
}

.success {
  border-color: var(--successBorderColor);

  .icon {
    background-color: var(--successIconBackground);
    border-right-color: var(--successIconBackground);
  }
}

.info {
  border-color: var(--infoBorderColor);

  .icon {
    background: var(--infoIconBackground);
    border-right-color: var(--infoIconBackground);
  }
}

.error {
  border-color: var(--dangerBorderColor);

  .icon {
    background: var(--dangerIconBackground);
    border-right-color: var(--dangerIconBackground);
  }
}

.warning {
  border-color: var(--warningBorderColor);

  .icon {
    background: var(--warningIconBackground);
    border-right-color: var(--warningIconBackground);
  }
}
