/* stylelint-disable selector-max-type */
html,
body {
  margin: 0;
  color: var(--color);
  font-family: var(--fontFamily);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight);
  background: var(--background);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: var(--fontFamilyMonospace);
  background-color: var(--codeBackground);
  border-radius: var(--codeBorderRadius);
  padding: 0.125em;
}

code[class^="lang-"] {
  padding: 0.5em;
  display: block;
}

h3 code {
  margin: 0 0.5em 0 0;
}

table code {
  background: transparent;
  border: none;
}

blockquote {
  display: block;
  background: var(--background);
  padding: var(--quotePadding);
  margin: var(--quoteMargin);
  border-top: var(--borderWidth) var(--borderStyle) var(--borderColor);
  border-bottom: var(--borderWidth) var(--borderStyle) var(--borderColor);
}

/* stylelint-enable selector-max-type */

.root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.main {
  max-width: 67rem;
  margin: 1rem auto 2rem auto;
}

.footer {
  margin-top: 3rem;
  padding: 2rem;
  text-align: center;
  font-weight: 300;
  line-height: 1rem;
}

.footerIcon {
  vertical-align: middle;
}

.githubLink {
  color: var(--color);
}

.docsSectionHeader {
  display: flex;
  justify-content: flex-end;
}

.hamburger {
  position: fixed;
  z-index: var(--menuToggleZIndex);
  padding: 0.5rem 0.7rem;
}
