.root {
  box-sizing: border-box;
  background: var(--background);
  position: absolute;
  top: 0;
  left: 0; /* stylelint-disable-line property-blacklist */
  right: 0; /* stylelint-disable-line property-blacklist */
  bottom: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  outline: none;
  border: var(--borderWidth) solid var(--borderColor);
  border-radius: var(--borderRadius);

  &:focus {
    border-color: var(--focusBorderColor);
  }

  z-index: var(--zIndex);
}

.fullscreen {
  position: fixed;
}

.top {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}
