.layout {
  position: relative;
}

.outline {
  pointer-events: none;
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: -0.25rem;
  bottom: -0.25rem;
  left: -0.25rem; /* stylelint-disable-line property-blacklist */
  right: -0.25rem; /* stylelint-disable-line property-blacklist */
  border: var(--focusOutlineWidth) var(--focusOutlineStyle) var(--focusOutlineColor);
  border-radius: calc(var(--borderRadius) * 1.5);
  transition: all 0.2s;

  /* properties to transition on :focus */
  opacity: 0;
  transform: scale(0.95);
}

.textarea {
  all: initial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  appearance: none;
  height: auto;
  margin: 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: var(--padding);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  border-width: var(--borderWidth);
  border-style: var(--borderStyle);
  border-top-color: var(--borderTopColor);
  border-right-color: var(--borderRightColor); /* stylelint-disable-line property-blacklist */
  border-bottom-color: var(--borderBottomColor);
  border-left-color: var(--borderLeftColor); /* stylelint-disable-line property-blacklist */
  border-radius: var(--borderRadius);
  color: var(--color);
  background: var(--background);
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: start;

  &:focus {
    ~ .outline {
      transform: scale(1);
      opacity: 1;
    }
  }

  &[aria-invalid] {
    border-color: var(--errorBorderColor);

    &:focus,
    &:focus ~ .outline {
      border-color: var(--errorBorderColor);
    }
  }

  &::placeholder {
    color: var(--placeholderColor);
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}

.small {
  font-size: var(--smallFontSize);
}

.medium {
  font-size: var(--mediumFontSize);
}

.large {
  font-size: var(--largeFontSize);
}
