# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store

# debug
npm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# This app uses npm, not pnpm
pnpm-lock.yaml
pnpm-workspace.yaml
