.previewBadge {
  color: var(--fontColor);
  font-size: var(--fontSize);
  background-color: var(--backgroundColor);
  padding: var(--padding);
  position: absolute;
  left: 0.9375rem; /* stylelint-disable-line property-blacklist */
  top: 0.9375rem;
  text-align: center;
}

.bottomBar {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: var(--recordingBarHeight);
}
