{
  "presets": ["es2015", "stage-1", "react"],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "build": {
      "plugins": [
        ["webpack-loaders", { "config": "./webpack/transpile.config.js", "verbose": true }]
      ]
    },
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
