node_modules/
npm-debug.log
yarn-error.log
lerna-debug.log
./build-storybook.log
coverage/
package-lock.json
.yarnclean
.babel-cache
__build__
.vscode
.idea
.DS_Store
.viminfo
.npmrc
.env
.env.test
.tmp/

# Local Netlify folder
.netlify

tsconfig.build.tsbuildinfo

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
