[build]
  publish = "packages/__docs__/__build__"
  command = "yarn bootstrap:docs && yarn build:docs"

[context.production]
  # ignore the build & deploy from the master branch
  ignore = "git diff HEAD master --quiet --exit-code"
