.root {
  font-weight: var(--fontWeight);
  font-family: var(--fontFamily);
  padding: 0;
  background: var(--background);
  color: var(--color);
}

.default {
  padding-inline-start: var(--defaultListPadding);
  padding-inline-end: 0;

  &.ordered {
    list-style-type: none;
    padding-inline-start: calc(var(--defaultListPadding) / 2);
    padding-inline-end: 0;
    counter-reset: ol-counter;

    /* stylelint-disable selector-max-type */
    li::before {
      font-weight: var(--orderedNumberFontWeight);
      counter-increment: ol-counter;
      content: counters(ol-counter, ".") ".";
      margin-inline-end: var(--orderedNumberMargin);
      margin-inline-start: 0;
    }
    /* stylelint-enable selector-max-type */
  }
}

.unstyled,
.inline,
.steps {
  list-style-type: none;
  padding-inline-start: 0;
}

.unordered {}
