/* stylelint-disable selector-max-class */
.inputWidth {
  display: block;
  position: relative;

  &::before {
    content: "";
    pointer-events: none;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: -0.25rem;
    bottom: -0.25rem;
    left: -0.25rem; /* stylelint-disable-line property-blacklist */
    right: -0.25rem; /* stylelint-disable-line property-blacklist */
    border: var(--focusOutlineWidth) var(--focusOutlineStyle) var(--focusOutlineColor);
    border-radius: calc(var(--borderRadius) * 1.5);
    transition: all 0.2s;

    /* properties to transition on :focus */
    opacity: 0;
    transform: scale(0.95);
  }

  &.focus::before {
    opacity: 1;
    transform: scale(1);
  }

  &.focus.invalid::before {
    border-color: var(--errorOutlineColor);
  }
}

.inputContainer {
  display: flex;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s;
  overflow: hidden;
  font-family: var(--fontFamily);
  border: var(--borderWidth) var(--borderStyle) var(--borderColor);
  border-radius: var(--borderRadius);

  &.invalid {
    border-color: var(--errorBorderColor);
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }

  &.medium {
    font-size: var(--mediumFontSize);
    height: var(--mediumHeight);
  }

  &.large {
    font-size: var(--largeFontSize);
    height: var(--largeHeight);
  }
}

/* stylelint-disable selector-max-type, no-descending-specificity */

.input,
input[type].input {
  all: initial;
  text-align: start;
  direction: inherit;

  &::-ms-clear {
    display: none;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  appearance: none;
  line-height: 1; /* reset global line height */
  margin: 0;
  flex: 1;
  min-width: 0.0625rem;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--fontWeight);
  color: var(--color);
  background: var(--background);
  padding: var(--padding);

  &::placeholder {
    color: var(--placeholderColor);
  }
}

.arrowContainer {
  flex: 0 0 var(--arrowsContainerWidth);
  display: flex;
  flex-direction: column;

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}

.arrow {
  cursor: pointer;
  user-select: none;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--arrowsBackgroundColor);
  border-top: none;
  border-inline-end: none;
  border-inline-start: var(--borderWidth) var(--borderStyle) var(--arrowsBorderColor);
  border-bottom: var(--borderWidth) var(--borderStyle) var(--arrowsBorderColor);
  color: var(--arrowsColor);

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: var(--arrowsHoverBackgroundColor);
  }

  &:active {
    box-shadow: var(--arrowsActiveBoxShadow);
  }
}

/* stylelint-enable selector-max-type, no-descending-specificity */
