.root {
  box-sizing: border-box;
  min-height: calc(var(--arrowSize) * 2);
}

.content {
  position: relative;
}

.placement--end-center,
.placement--end-top,
.placement--end-bottom,
.placement--center-end,
.placement--end {
  /* arrow on the left side pointing left */
  padding-inline-start: var(--arrowSize);
  padding-inline-end: 0;
}

.placement--start-center,
.placement--start-top,
.placement--start-bottom,
.placement--center-start,
.placement--start {
  /* arrow on the right side pointing right */
  padding-inline-end: var(--arrowSize);
  padding-inline-start: 0;
}

.placement--bottom,
.placement--bottom-end,
.placement--bottom-start,
.placement--bottom-center {
  /* arrow on the top side pointing up */
  padding-top: var(--arrowSize);
}

.placement--top,
.placement--top-start,
.placement--top-end,
.placement--top-center {
  /* arrow on the bottom side pointing down */
  padding-bottom: var(--arrowSize);
}

.placement--offscreen {
  position: absolute;
  left: -999em; /* stylelint-disable-line property-blacklist */
}

.arrow,
.arrow::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  box-sizing: border-box;
  pointer-events: none;
  border-style: solid;
}

.arrow {
  display: block;
  border-width: calc(var(--arrowSize) + var(--arrowBorderWidth));

  &::after {
    border-width: var(--arrowSize);
  }
}

.arrow--default,
.arrow--default::after {
  border-color: var(--arrowBorderColor);
}

.arrow--inverse,
.arrow--inverse::after {
  border-color: var(--arrowBorderColorInverse);
}

.arrow--start-center,
.arrow--start-top,
.arrow--start-bottom,
.arrow--center-start,
.arrow--start {
  /* arrow on the left side pointing left */
  top: 50%;
  inset-inline-end: 100%;
  inset-inline-start: auto;
  margin-top: calc(-1 * (var(--arrowSize) + var(--arrowBorderWidth)));
  border-inline-start-width: 0;
  border-inline-start-color: transparent;
  border-inline-end-color: var(--arrowBorderColor);
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-inline-end-width: var(--arrowSize);

  &::after {
    inset-inline-start: var(--arrowBorderWidth);
    inset-inline-end: auto;
    margin-top: calc(-1 * var(--arrowSize));
    border-inline-start-width: 0;
    border-inline-start-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-inline-end-width: var(--arrowSize);
    border-inline-end-color: var(--arrowBackgroundColor);
  }

  &.arrow--inverse {
    border-inline-end-color: var(--arrowBorderColorInverse);

    &::after {
      border-inline-end-color: var(--arrowBackgroundColorInverse);
    }
  }
}

.arrow--end-center,
.arrow--end-top,
.arrow--end-bottom,
.arrow--center-end,
.arrow--end {
  /* arrow on the right side pointing right */
  top: 50%;
  inset-inline-start: 100%;
  inset-inline-end: auto;
  margin-top: calc(-1 * (var(--arrowSize) + var(--arrowBorderWidth)));
  border-inline-end-width: 0;
  border-inline-end-color: transparent;
  border-inline-start-color: var(--arrowBorderColor);
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-inline-start-width: var(--arrowSize);

  &::after {
    inset-inline-end: var(--arrowBorderWidth);
    inset-inline-start: auto;
    margin-top: calc(-1 * var(--arrowSize));
    border-inline-end-width: 0;
    border-inline-end-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-inline-start-width: var(--arrowSize);
    border-inline-start-color: var(--arrowBackgroundColor);
  }

  &.arrow--inverse {
    border-inline-start-color: var(--arrowBorderColorInverse);

    &::after {
      border-inline-start-color: var(--arrowBackgroundColorInverse);
    }
  }
}

.arrow--top,
.arrow--top-end,
.arrow--top-start,
.arrow--top-center {
  /* arrow on the top side pointing up */
  bottom: 100%;
  margin-inline-start: calc(-1 * (var(--arrowSize) + var(--arrowBorderWidth)));
  margin-inline-end: 0;
  border-top-width: 0;
  border-top-color: transparent;
  border-inline-start-color: transparent;
  border-inline-end-color: transparent;

  &::after {
    top: var(--arrowBorderWidth);
    margin-inline-start: calc(-1 * var(--arrowSize));
    margin-inline-end: 0;
    border-top-width: 0;
    border-top-color: transparent;
    border-inline-start-color: transparent;
    border-inline-end-color: transparent;
    border-bottom-color: var(--arrowBackgroundColor);
  }

  &.arrow--inverse {
    &::after {
      border-bottom-color: var(--arrowBackgroundColorInverse);
    }
  }
}

.arrow--bottom,
.arrow--bottom-start,
.arrow--bottom-end,
.arrow--bottom-center {
  /* arrow on the bottom side pointing down */
  top: 100%;
  margin-inline-start: calc(-1 * (var(--arrowSize) + var(--arrowBorderWidth)));
  margin-inline-end: 0;
  border-bottom-width: 0;
  border-bottom-color: transparent;
  border-inline-start-color: transparent;
  border-inline-end-color: transparent;

  &::after {
    bottom: var(--arrowBorderWidth);
    margin-inline-start: calc(-1 * var(--arrowSize));
    margin-inline-end: 0;
    border-bottom-width: 0;
    border-bottom-color: transparent;
    border-inline-start-color: transparent;
    border-inline-end-color: transparent;
    border-top-color: var(--arrowBackgroundColor);
  }

  &.arrow--inverse {
    &::after {
      border-top-color: var(--arrowBackgroundColorInverse);
    }
  }
}

.arrow--top,
.arrow--bottom,
.arrow--top-center,
.arrow--bottom-center {
  inset-inline-start: 50%;
}

.arrow--top-start,
.arrow--bottom-start {
  inset-inline-start: calc((var(--arrowSize) + var(--arrowBorderWidth)) * 2);
  inset-inline-end: auto;
}

.arrow--top-end,
.arrow--bottom-end {
  inset-inline-start: calc(100% - (var(--arrowSize) + var(--arrowBorderWidth)) * 2);
  inset-inline-end: auto;
}

.arrow--start-top,
.arrow--end-top {
  top: calc((var(--arrowSize) + var(--arrowBorderWidth)) * 2);
}

.arrow--start-bottom,
.arrow--end-bottom {
  top: calc(100% - (var(--arrowSize) + var(--arrowBorderWidth)) * 2);
}
