.container {
  background-color: var(--backgroundColor);

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.inner {
  color: var(--fontColor);
  font-size: var(--fontSize);
}
