.root {
  color: inherit;
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.rotate--90 {
  transform: rotate(90deg);
}

/* stylelint-disable-next-line selector-max-type */
html[dir="rtl"] .rotate--90 {
  transform: rotate(-90deg);
}

.rotate--180 {
  transform: rotate(180deg);
}

.rotate--270 {
  transform: rotate(270deg);
}

/* stylelint-disable-next-line selector-max-type */
html[dir="rtl"] .rotate--270 {
  transform: rotate(-270deg);
}

.size--x-small {
  font-size: var(--sizeXSmall);
}

.size--small {
  font-size: var(--sizeSmall);
}

.size--medium {
  font-size: var(--sizeMedium);
}

.size--large {
  font-size: var(--sizeLarge);
}

.size--x-large {
  font-size: var(--sizeXLarge);
}
