.root {
  all: initial;
  position: relative;
  display: block;
  width: 100%;
  direction: inherit;
  text-align: start;
}

.input {
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  width: auto;
  position: absolute;
  top: 0;
  offset-inline-start: 0;
  offset-inline-end: auto;
  z-index: -1;
  opacity: 0.0001; /* selenium cannot find fully transparent elements */
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.inline {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
