.root {
  flex: 0 0 auto;
  background: var(--background);
  border-top: var(--borderWidth) solid var(--borderColor);
  box-sizing: border-box;
  padding: var(--padding);
  border-bottom-right-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
  display: flex;
  justify-content: flex-end;
}
