.root {
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  display: block;
}

.hint {
  color: var(--colorHint);
}

.error {
  color: var(--colorError);
}

.success {
  color: var(--colorSuccess);
}
