/* stylelint-disable selector-max-class */

.root {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: visible;
}

.crumb {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.separator {
  color: var(--separatorColor);
}

.small .crumb {
  font-size: var(--smallFontSize);

  .separator {
    font-size: var(--smallSeparatorFontSize);
    margin: 0 calc(var(--smallSeparatorFontSize) / 2);
  }
}

.medium .crumb {
  font-size: var(--mediumFontSize);

  .separator {
    font-size: var(--mediumSeparatorFontSize);
    margin: 0 calc(var(--mediumSeparatorFontSize) / 2);
  }
}

.large .crumb {
  font-size: var(--largeFontSize);

  .separator {
    font-size: var(--largeSeparatorFontSize);
    margin: 0 calc(var(--largeSeparatorFontSize) / 2);
  }
}

/* stylelint-enable selector-max-class */
