/* stylelint-disable selector-max-class */

.root {
  font-family: var(--fontFamily);
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: visible;
  display: flex;
  align-items: center;
}

.crumb {
  box-sizing: border-box;
  position: relative;
}

.crumb:last-child {
  padding-inline-end: 0;
}

.separator {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  color: var(--separatorColor);
}

.small .crumb {
  font-size: var(--smallFontSize);
  padding-inline-end: calc(var(--smallSeparatorFontSize) * 2);
  padding-inline-start: 0;

  .separator {
    font-size: var(--smallSeparatorFontSize);
    inset-inline-end: calc(var(--smallSeparatorFontSize) / 2);
    inset-inline-start: auto;
    margin-top: calc(-1 * (var(--smallSeparatorFontSize) / 2));
  }
}

.medium .crumb {
  font-size: var(--mediumFontSize);
  padding-inline-end: calc(var(--mediumSeparatorFontSize) * 2);
  padding-inline-start: 0;

  .separator {
    font-size: var(--mediumSeparatorFontSize);
    inset-inline-end: calc(var(--mediumSeparatorFontSize) / 2);
    inset-inline-start: auto;
    margin-top: calc(-1 * (var(--mediumSeparatorFontSize) / 2));
  }
}

.large .crumb {
  font-size: var(--largeFontSize);
  padding-inline-end: calc(var(--largeSeparatorFontSize) * 2);
  padding-inline-start: 0;

  .separator {
    font-size: var(--largeSeparatorFontSize);
    inset-inline-end: calc(var(--largeSeparatorFontSize) / 2);
    inset-inline-start: auto;
    margin-top: calc(-1 * (var(--largeSeparatorFontSize) / 2));
  }
}

/* stylelint-enable selector-max-class */
