.fields {
  border: var(--borderWidth) var(--borderStyle) var(--borderColor);
  border-radius: var(--borderRadius);
  display: block;
}

.fields.invalid {
  border-color: var(--errorBorderColor);
  padding: var(--errorFieldsPadding);
}

.fields.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
