/* stylelint-disable selector-max-type, selector-max-class */

.root {
  align-items: center;
  font-family: var(--fontFamily);
  background: var(--background);
  box-sizing: border-box;
  padding: var(--padding);
  border-width: var(--borderWidth);
  border-style: var(--borderStyle);
  height: var(--height);
  border-radius: var(--borderRadius);
}

.root.truncated { /* renders as button so it's focusable when truncated */
  position: relative;
  outline: none;
  overflow: visible;

  &::before {
    content: "";
    pointer-events: none;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: -0.375rem;
    bottom: -0.375rem;
    left: -0.375rem; /* stylelint-disable-line property-blacklist */
    right: -0.375rem; /* stylelint-disable-line property-blacklist */
    border: var(--focusOutlineWidth) var(--focusOutlineStyle) var(--focusOutlineColor);
    border-radius: var(--borderRadius);
    transition: all 0.2s;

    /* properties to transition on focus */
    opacity: 0;
    transform: scale(0.95);
  }

  &.focused::before {
    opacity: 1;
    transform: scale(1);
  }
}

.text {
  box-sizing: border-box;
  text-transform: var(--textTransformStyle);
  font-size: var(--textFontSize);
  font-weight: var(--textFontWeight);
  letter-spacing: 0.0625rem;
  min-width: 0.0625rem;
  max-width: var(--maxWidth);
  flex: 1 0 auto;
  line-height: var(--lineHeight);
  text-align: center;
}

.default {
  border-color: var(--color);

  .text {
    color: var(--color);
  }
}

.primary {
  border-color: var(--primaryColor);

  .text {
    color: var(--primaryColor);
  }
}

.success {
  border-color: var(--successColor);

  .text {
    color: var(--successColor);
  }
}

.danger {
  border-color: var(--dangerColor);

  .text {
    color: var(--dangerColor);
  }
}

.warning {
  border-color: var(--warningColor);

  .text {
    color: var(--warningColor);
  }
}

.message {
  border-color: var(--messageColor);

  .text {
    color: var(--messageColor);
  }
}

/* stylelint-enable selector-max-type, selector-max-class */
