.root {
  color: inherit;
  fill: currentColor;
  vertical-align: middle;
  line-height: 1;
  width: 1em;
  height: 1em;
}

.rotate--90 {
  transform: rotate(90deg);
}

.rotate--180 {
  transform: rotate(180deg);
}

.rotate--270 {
  transform: rotate(270deg);
}

[dir="rtl"] .bidirectional {
  transform: scale3d(-1, 1, 1);

  &.rotate--90 {
    transform: scale3d(-1, 1, 1) rotate(90deg);
  }

  .rotate--180 {
    transform: scale3d(-1, 1, 1) rotate(180deg);
  }

  .rotate--270 {
    transform: scale3d(-1, 1, 1) rotate(270deg);
  }
}

.size--x-small {
  font-size: var(--sizeXSmall);
}

.size--small {
  font-size: var(--sizeSmall);
}

.size--medium {
  font-size: var(--sizeMedium);
}

.size--large {
  font-size: var(--sizeLarge);
}

.size--x-large {
  font-size: var(--sizeXLarge);
}
