.root {
  margin-top: 2rem;

  code { /* stylelint-disable-line selector-max-type */
    background: transparent;
    border: none;
  }
}

.cellDesc {
  padding-left: 1rem;
  font-weight: 300;
  line-height: 1.4;

  p { /* stylelint-disable-line selector-max-type */
    margin: 0;
  }
}

.oneOf {
  font-weight: 200;
  font-style: italic;
}

.required {
  background-color: #333;
  color: white;
  border-radius: 3px;
  padding: 2px 3px;
  font-size: 0.75rem;
  font-weight: 400;
}

.list {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}

.listItem {
  display: inline;

  &::after {
    content: ", ";
  }

  &:last-child::after {
    content: "";
  }
}
