.root {
  position: absolute;
  background-color: var(--background);
  z-index: var(--zIndex);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: content-box;
}

.shadow {
  box-shadow: var(--boxShadow);
}

.border {
  border-width: 0;
  border-color: var(--borderColor);
  border-style: var(--borderStyle);
}

.placement--start {
  left: 0; /* stylelint-disable-line property-blacklist */

  &.border {
    border-right-width: var(--borderWidth); /* stylelint-disable-line property-blacklist */
    box-sizing: border-box;
  }
}

.placement--end {
  right: 0; /* stylelint-disable-line property-blacklist */

  &.border {
    border-left-width: var(--borderWidth); /* stylelint-disable-line property-blacklist */
    box-sizing: border-box;
  }
}

.placement--start,
.placement--end {
  top: 0;
  bottom: 0;
}
