.root {
  box-sizing: border-box;
  padding: var(--padding);
  padding-inline-end: calc(var(--padding) * 2 + 1em);
  padding-inline-start: var(--padding);
  flex: 0 0 auto;
  border-bottom: 0.0625rem solid var(--borderColor);
}
