.root {
  box-sizing: border-box;
  padding: var(--padding);
  padding-inline-end: calc(var(--padding) * 2 + 1em);
  padding-inline-start: var(--padding);
  flex: 0 0 auto;
  background: var(--background);
  border-bottom-width: 0.0625rem;
  border-bottom-style: solid;
  border-bottom-color: var(--borderColor);
}

.inverse {
  background: var(--inverseBackground);
  border-bottom-color: var(--inverseBorderColor);
}
