/* stylelint-disable selector-max-class, max-nesting-depth, no-descending-specificity */

.root {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  line-height: var(--lineHeight);
  font-size: var(--fontSize);
}

.bar[value] {
  box-sizing: border-box;
  appearance: none;
  width: auto;
  flex: 1;
  border: none;

  &::-webkit-progress-value {
    background: linear-gradient(to right, var(--meterColorStart) 0%, var(--meterColorEnd) 100%);
  }

  &::-moz-progress-bar {
    background: linear-gradient(to right, var(--meterColorStart) 0%, var(--meterColorEnd) 100%);
  }

  &::-ms-fill {
    border: none;
    background: linear-gradient(to right, var(--meterColorStart) 0%, var(--meterColorEnd) 100%);
  }
}

.value {
  line-height: 1;
  box-sizing: border-box;
  padding-inline-start: var(--valuePadding);
  flex: 0 0 5.625rem;
}

.slash {
  margin-inline-start: 0.1875rem;
  margin-inline-end: 0.1875rem;
}

.x-small {
  .bar[value] {
    height: var(--xSmallHeight);
  }

  .value {
    font-size: var(--xSmallValueFontSize);
  }
}

.small {
  .bar[value] {
    /* product design wants = 18px */
    height: 1.125rem;
  }

  .value {
    font-size: var(--smallValueFontSize);
  }
}

.medium {
  .bar[value] {
    height: var(--mediumHeight);
  }

  .value {
    font-size: var(--mediumValueFontSize);
  }
}

.large {
  .bar[value] {
    height: var(--largeHeight);
  }

  .value {
    font-size: var(--largeValueFontSize);
  }
}

.default {
  .bar[value] {
    background-color: var(--trackColor);

    &::-webkit-progress-bar {
      background-color: var(--trackColor);
    }
  }

  .value {
    color: var(--color);
  }
}

.inverse {
  .bar[value] {
    background-color: var(--inverseTrackColor);

    &::-webkit-progress-bar {
      background-color: var(--inverseTrackColor);
    }
  }

  .value {
    color: var(--inverseColor);
  }
}

.done .bar[value] {
  &::-webkit-progress-value {
    background: linear-gradient(to right, var(--doneMeterColorStart) 0%, var(--doneMeterColorEnd) 100%);
  }

  &::-moz-progress-bar {
    background: linear-gradient(to right, var(--doneMeterColorStart) 0%, var(--doneMeterColorEnd) 100%);
  }

  &::-ms-fill {
    background: linear-gradient(to right, var(--doneMeterColorStart) 0%, var(--doneMeterColorEnd) 100%);
  }
}

/* stylelint-enable selector-max-class, max-nesting-depth, no-descending-specificity */
