.root {
  box-sizing: border-box;
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  line-height: var(--lineHeight);
  font-size: var(--fontSize);
}

.content {
  box-sizing: border-box;
  width: 100%;
  border-width: var(--borderWidth);
  border-style: var(--borderStyle);
  background: var(--background);
  border-color: var(--borderColor);
  color: var(--color);
}

.overflow {
  overflow: auto;
}

.default,
.secondary {
  .content {
    border-left: none; /* stylelint-disable-line property-blacklist */
    border-right: none; /* stylelint-disable-line property-blacklist */
    border-bottom: none;
  }
}
