.root {
  box-sizing: border-box;

  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  line-height: var(--lineHeight);
  justify-content: space-around;

  color: var(--color);
}
