.mediaPlayerContainer {
  width: 100%;
}

.videoPlayerContainer {
  width: 100%;
  position: relative;
  transition: height 0.1s ease-in-out;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 var(--focusOutlineWeight) var(--focusOutlineColor);
  }
}

.video {
  width: 100%;
  display: block;
}
