.root {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 var(--iconMargin);
  line-height: 1;

  &:first-of-type {
    margin-left: 0; /* stylelint-disable-line property-blacklist */
  }

  &:last-of-type {
    margin-right: 0; /* stylelint-disable-line property-blacklist */
  }
}

.icon {
  display: inline-block;
  vertical-align: bottom;
}

.filled .icon {
  color: var(--iconFilledColor);
}

.empty .icon {
  color: var(--iconEmptyColor);
}

.small {
  .icon {
    font-size: var(--smallIconFontSize);
  }
}

.medium {
  .icon {
    font-size: var(--mediumIconFontSize);
  }
}

.large {
  .icon {
    font-size: var(--largeIconFontSize);
  }
}
