.root {
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  padding: 0.75em 1.5em 1em 0;
  color: transparent;
  background: var(--background);
  border: none;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-indent: 1.5em;
  box-sizing: border-box;
}

.line,
.line::before,
.line::after {
  background: var(--foreground);
  cursor: pointer;
  border-radius: var(--lineBorderRadius);
  height: 0.25em;
  line-height: 0.25em;
  width: 1.5em;
  position: absolute;
  display: block;
  transition: all var(--transitionDuration) var(--transitionTiming);
}

.line::before,
.line::after {
  content: "";
}

.line::before {
  top: -0.625em;
}

.line::after {
  bottom: -0.625em;
}

.expanded {
  .line {
    background-color: transparent;
  }

  .line::before,
  .line::after {
    top: 0;
  }

  .line::before {
    transform: rotate(45deg);
  }

  .line::after {
    transform: rotate(-45deg);
  }
}

.root:focus,
.root:active {
  outline: none;

  .line,
  .line::before,
  .line::after {
    background: var(--focusColor);
  }
}
