/* stylelint-disable color-no-hex, color-named, unit-blacklist */

.root {
  font-size: var(--fontSize);
  margin: 1rem 0 2rem;
}

.close {
  background-color: rgba(0, 0, 0, 0.075);
  display: flex;
  justify-content: flex-end;
}

.editor {}

/* stylelint-enable color-no-hex, color-named, unit-blacklist */
