.root {
  font-weight: var(--fontWeight);
  font-family: var(--fontFamily);
  line-height: var(--lineHeight);
  color: var(--color);
  padding: 0;
}

.delimiter--none .delimiter {
  margin-inline-start: var(--noneSpacing);
  margin-inline-end: var(--noneSpacing);
}

.delimiter--pipe .delimiter {
  margin-inline-start: var(--pipeSpacing);
  margin-inline-end: var(--pipeSpacing);

  &::after {
    content: "\007C";
  }
}

.delimiter--slash .delimiter {
  margin-inline-start: var(--slashSpacing);
  margin-inline-end: var(--slashSpacing);

  &::after {
    content: "\002F";
  }
}

.delimiter--arrow .delimiter {
  margin-inline-start: var(--arrowSpacing);
  margin-inline-end: var(--arrowSpacing);

  &::after {
    content: "\003E";
  }
}

.inline {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  box-sizing: border-box;
  line-height: var(--pipeLineHeight);
  color: var(--inlineColor);
  font-size: var(--fontSizeSmall);

  &:last-of-type .delimiter::after {
    content: none;
  }

  &.spacing--xxx-small {
    margin-inline-start: var(--spacingXXXSmall);
    margin-inline-end: var(--spacingXXXSmall);
  }

  &.spacing--xx-small {
    margin-inline-start: var(--spacingXXSmall);
    margin-inline-end: var(--spacingXXSmall);
  }

  &.spacing--x-small {
    margin-inline-start: var(--spacingXSmall);
    margin-inline-end: var(--spacingXSmall);
  }

  &.spacing--small {
    margin-inline-start: var(--spacingSmall);
    margin-inline-end: var(--spacingSmall);
  }

  &.spacing--medium {
    margin-inline-start: var(--spacingMedium);
    margin-inline-end: var(--spacingMedium);
  }

  &.spacing--large {
    margin-inline-start: var(--spacingLarge);
    margin-inline-end: var(--spacingLarge);
  }

  &.spacing--x-large {
    margin-inline-start: var(--spacingXLarge);
    margin-inline-end: var(--spacingXLarge);
  }

  &.spacing--xx-large {
    margin-inline-start: var(--spacingXXLarge);
    margin-inline-end: var(--spacingXXLarge);
  }

  &:first-of-type {
    margin-inline-start: 0;
  }

  &:last-of-type {
    margin-inline-end: 0;
  }
}

:not(.inline) {
  &.spacing--xxx-small {
    margin-top: var(--spacingXXXSmall);
    margin-bottom: var(--spacingXXXSmall);
  }

  &.spacing--xx-small {
    margin-top: var(--spacingXXSmall);
    margin-bottom: var(--spacingXXSmall);
  }

  &.spacing--x-small {
    margin-top: var(--spacingXSmall);
    margin-bottom: var(--spacingXSmall);
  }

  &.spacing--small {
    margin-top: var(--spacingSmall);
    margin-bottom: var(--spacingSmall);
  }

  &.spacing--medium {
    margin-top: var(--spacingMedium);
    margin-bottom: var(--spacingMedium);
  }

  &.spacing--large {
    margin-top: var(--spacingLarge);
    margin-bottom: var(--spacingLarge);
  }

  &.spacing--x-large {
    margin-top: var(--spacingXLarge);
    margin-bottom: var(--spacingXLarge);
  }

  &.spacing--xx-large {
    margin-top: var(--spacingXXLarge);
    margin-bottom: var(--spacingXXLarge);
  }

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.small {
  font-size: var(--fontSizeSmall);
}

.medium {
  font-size: var(--fontSizeMedium);
}

.large {
  font-size: var(--fontSizeLarge);
}
