/* stylelint-disable selector-max-class, no-descending-specificity, selector-max-type */

.root,
a.root:link,
a.root:visited,
button.root {
  position: relative;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  transition: outline-color 0.2s;
  vertical-align: baseline; /* enforce for when Link renders inline-block via View */

  /* set up focus styles */
  outline-color: transparent;
  outline-width: var(--focusOutlineWidth);
  outline-style: var(--focusOutlineStyle);
  outline-offset: 0.25rem;

  &:focus {
    outline-color: var(--focusOutlineColor);
  }

  &[aria-disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }

  &::-moz-focus-inner {
    border: 0; /* removes default dotted focus outline in Firefox */
  }
}

/*
* If Link is not a button or link, it should not look clickable,
* so scope those styles.
*/
a.root:link,
a.root:visited,
button.root {
  cursor: pointer;
  color: var(--color);
  text-decoration: var(--textDecoration);

  &:focus {
    color: var(--color);
  }

  &:hover,
  &:active {
    text-decoration: var(--hoverTextDecoration);
    color: var(--hoverColor);
  }
}

.root.inverse,
a.root.inverse:link,
a.root.inverse:visited,
button.root.inverse {
  color: var(--colorInverse);

  &:focus {
    outline-color: var(--focusInverseOutlineColor);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--colorInverse);
  }
}

button.root {
  appearance: none;
  user-select: text;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

.icon {
  font-size: var(--iconSize);
  box-sizing: border-box;
}

.iconPlacement--start {
  .icon {
    padding-inline-start: 0;
    padding-inline-end: var(--iconPlusTextMargin);
  }
}

.iconPlacement--end {
  .icon {
    padding-inline-start: var(--iconPlusTextMargin);
    padding-inline-end: 0;
  }
}

/* If TruncateText is used in Link with icon, align the icon and the text vertically */
.truncates {
  &.iconPlacement--start,
  &.iconPlacement--end {
    align-items: center;
  }
}

/* ellipsis is deprecated */
.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button.ellipsis {
  width: 100%;
}

/* stylelint-enable selector-max-class, no-descending-specificity, selector-max-type */
