.content {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background: var(--background);
  box-shadow: var(--boxShadow);
  border: 0.0625rem solid var(--borderColor);
  border-radius: var(--borderRadius);

  &.ie11 {
    display: block;
    overflow: auto;
  }
}

.auto,
.small,
.medium,
.large {
  max-width: 95vw;
  max-height: 95vh;

  &.ie11 {
    max-height: none;
  }
}

.auto {
  flex: 0 1 auto;
  min-width: var(--autoMinWidth);
}

.small {
  flex: 0 1 var(--smallMaxWidth);
}

.medium {
  flex: 0 1 var(--mediumMaxWidth);
}

.large {
  flex: 0 1 var(--largeMaxWidth);
}

.layout {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: var(--zIndex);
}

.fullscreen {
  flex: 1;
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
}
