.root {
  box-sizing: border-box;
  font-family: var(--fontFamily);
  max-width: 100%;
  overflow: visible;
}

.display--inline {
  display: inline;
}

.display--block {
  display: block;
}

.display--inline-block {
  display: inline-block;
  vertical-align: middle;
}

.display--flex {
  display: flex;
}

.display--inline-flex {
  display: inline-flex;
  vertical-align: middle;
}

.textAlign--start {
  text-align: start;
}

.textAlign--center {
  text-align: center;
}

.textAlign--end {
  text-align: end;
}

.withVisualDebug {
  outline: 0.0625rem dashed var(--debugOutlineColor);
}

.withBorder {
  border-style: var(--borderStyle);
}

.borderColor--inverse, /* TODO: remove in 8.0 */
.borderColor--transparent {
  border-color: var(--borderColorTransparent);
}

.borderColor--default,  /* TODO: remove in 8.0 */
.borderColor--primary {
  border-color: var(--borderColorPrimary);
}

.borderColor--secondary {
  border-color: var(--borderColorSecondary);
}

.borderColor--brand {
  border-color: var(--borderColorBrand);
}

.borderColor--info {
  border-color: var(--borderColorInfo);
}

.borderColor--success {
  border-color: var(--borderColorSuccess);
}

.borderColor--warning {
  border-color: var(--borderColorWarning);
}

.borderColor--alert {
  border-color: var(--borderColorAlert);
}

.borderColor--danger {
  border-color: var(--borderColorDanger);
}

.background--transparent {
  color: var(--color);
  background: none;
}

.background--default, /* TODO: remove in 8.0 */
.background--primary {
  color: var(--color);
  background: var(--backgroundPrimary);
}

.background--light, /* TODO: remove in 8.0 */
.background--secondary {
  color: var(--color);
  background: var(--backgroundSecondary);
}

.background--inverse, /* TODO: remove in 8.0 */
.background--primary-inverse {
  color: var(--colorPrimaryInverse);
  background: var(--backgroundPrimaryInverse);
}

.background--brand {
  color: var(--colorPrimaryInverse);
  background: var(--backgroundBrand);
}

.background--info {
  color: var(--colorPrimaryInverse);
  background: var(--backgroundInfo);
}

.background--alert {
  color: var(--colorPrimaryInverse);
  background: var(--backgroundAlert);
}

.background--success {
  color: var(--colorPrimaryInverse);
  background: var(--backgroundSuccess);
}

.background--danger {
  color: var(--colorPrimaryInverse);
  background: var(--backgroundDanger);
}

.background--warning {
  color: var(--colorPrimaryInverse);
  background: var(--backgroundWarning);
}

.stacking--topmost {
  z-index: var(--stackingTopmost);
}

.stacking--above {
  z-index: var(--stackingAbove);
}

.stacking--resting {}

.stacking--below {
  z-index: var(--stackingBelow);
}

.stacking--deepest {
  z-index: var(--stackingDeepest);
}

.shadow--topmost {
  box-shadow: var(--shadowTopmost);
}

.shadow--resting {
  box-shadow: var(--shadowResting);
}

.shadow--above {
  box-shadow: var(--shadowAbove);
}

.overflowX--hidden {
  overflow-x: hidden;
}

.overflowX--auto {
  overflow-x: auto;
}

.overflowY--hidden {
  overflow-y: hidden;
}

.overflowY--auto {
  overflow-y: auto;
}

.position--relative {
  position: relative;
}

.position--fixed {
  position: fixed;
}

.position--absolute {
  position: absolute;
}

.position--sticky {
  position: sticky;
}

/* stylelint-disable selector-max-class */

.focus.position--relative {
  &::before {
    pointer-events: none;
    content: "";
    position: absolute;
    border-style: var(--focusOutlineStyle);
    border-width: var(--focusOutlineWidth);
    border-color: var(--focusOutlineColorDefault);
    opacity: 0;
  }

  &.focusAnimation::before {
    transition: all 0.2s;
    transform: scale(0.95);
  }

  &.focusPosition--offset::before {
    top: calc(var(--focusOutlineOffset) * -1);
    left: calc(var(--focusOutlineOffset) * -1); /* stylelint-disable-line property-blacklist */
    right: calc(var(--focusOutlineOffset) * -1); /* stylelint-disable-line property-blacklist */
    bottom: calc(var(--focusOutlineOffset) * -1);
  }

  &.focusPosition--inset::before {
    top: var(--focusOutlineInset);
    left: var(--focusOutlineInset); /* stylelint-disable-line property-blacklist */
    right: var(--focusOutlineInset); /* stylelint-disable-line property-blacklist */
    bottom: var(--focusOutlineInset);
  }

  &.focusRing--radiusInherit::before {
    border-radius: inherit;
  }

  &.focusRing--radiusNone::before {
    border-radius: 0;
  }

  /*
  * Calculations below ensure that the border radius of the focus outline will always be
  * correct regardless of changes to the offset/inset and focusOutlineWidth theme vars
  */

  &.focusPosition--offset.focusRing--radiusSmall::before {
    border-radius: calc(var(--borderRadiusSmall) + (var(--focusOutlineOffset) - var(--focusOutlineWidth)));
  }

  &.focusPosition--offset.focusRing--radiusMedium::before {
    border-radius: calc(var(--borderRadiusMedium) + (var(--focusOutlineOffset) - var(--focusOutlineWidth)));
  }

  &.focusPosition--offset.focusRing--radiusLarge::before {
    border-radius: calc(var(--borderRadiusLarge) + (var(--focusOutlineOffset) - var(--focusOutlineWidth)));
  }

  &.focusPosition--inset.focusRing--radiusSmall::before {
    border-radius: calc(var(--borderRadiusSmall) - (var(--focusOutlineInset) + var(--focusOutlineWidth)));
  }

  &.focusPosition--inset.focusRing--radiusMedium::before {
    border-radius: calc(var(--borderRadiusMedium) - (var(--focusOutlineInset) + var(--focusOutlineWidth)));
  }

  &.focusPosition--inset.focusRing--radiusLarge::before {
    border-radius: calc(var(--borderRadiusLarge) - (var(--focusOutlineInset) + var(--focusOutlineWidth)));
  }

  &:focus {
    outline: none;
  }

  &.shouldUseBrowserFocus:focus::before,
  &.withFocusOutline::before {
    opacity: 1;
    transform: scale(1);
  }

  &.focusColor--info::before {
    border-color: var(--focusColorInfo);
  }

  &.focusColor--inverse::before {
    border-color: var(--focusColorInverse);
  }

  &.focusColor--success::before {
    border-color: var(--focusColorSuccess);
  }

  &.focusColor--danger::before {
    border-color: var(--focusColorDanger);
  }
}

.focus.display--inline {
  &::before {
    border-style: none;
  }

  outline-style: none;

  &.focusPosition--inset.shouldUseBrowserFocus:focus,
  &.focusPosition--inset.withFocusOutline {
    outline-width: var(--focusOutlineWidth);
    outline-style: var(--focusOutlineStyle);
  }

  &.focusColor--info {
    outline-color: var(--focusColorInfo);
  }

  &.focusColor--inverse {
    outline-color: var(--focusColorInverse);
  }

  &.focusColor--danger {
    outline-color: var(--focusColorDanger);
  }
}

/* stylelint-enable selector-max-class */
