/* stylelint-disable selector-max-type, selector-max-class */
.root {
  display: block;
  font-family: var(--fontFamily);
  box-sizing: border-box;
  padding: var(--padding);
  background: var(--background);
  border-width: var(--borderWidth);
  border-style: var(--borderStyle);
  border-radius: var(--borderRadius);

  /* line-height does not account for top/bottom border width */
  line-height: calc(var(--height) - (var(--borderWidth) * 2));
}

.text {
  box-sizing: border-box;
  text-transform: var(--textTransformStyle);
  font-size: var(--textFontSize);
  font-weight: var(--textFontWeight);
  letter-spacing: 0.0625rem;
}

.primary {
  color: var(--primaryColor);
  border-color: var(--primaryColor);
}

.info {
  color: var(--infoColor);
  border-color: var(--infoColor);
}

.success {
  color: var(--successColor);
  border-color: var(--successColor);
}

.danger {
  color: var(--dangerColor);
  border-color: var(--dangerColor);
}

.warning {
  color: var(--warningColor);
  border-color: var(--warningColor);
}

.alert {
  color: var(--alertColor);
  border-color: var(--alertColor);
}

/* stylelint-enable selector-max-type, selector-max-class */
