/* stylelint-disable color-no-hex, color-named, unit-blacklist */

.root {
  font-size: 1rem;
  margin: 2rem 0;
}

.close {
  background-color: #0084d1;
  color: white;
  display: flex;
  justify-content: flex-end;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.editor {}

/* stylelint-enable color-no-hex, color-named, unit-blacklist */
