.root {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  overflow: auto;
}

.fullscreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.error {
  background: var(--backgroundError);
  box-sizing: border-box;
  margin: 0;
  display: block;
  color: var(--colorError);
  font-family: var(--fontFamilyError);
  font-size: var(--fontSizeError);
  line-height: 1.4;

  /* stylelint-disable selector-max-type */
  pre,
  code {
    color: var(--colorError);
  }
  /* stylelint-enable selector-max-type */
}

.background--checkerboard,
.background--checkerboard-inverse,
.background--light {
  padding: var(--padding);
  border-width: var(--borderWidth);
  border-style: solid;
  border-color: var(--borderColor);
  border-radius: var(--borderRadius);
  background-color: var(--backgroundColorLight);
}

.background--checkerboard,
.background--checkerboard-inverse {
  background-position: 0 0, calc(var(--gradientCheckerboardSize) / 2) calc(var(--gradientCheckerboardSize) / 2);
  background-size: var(--gradientCheckerboardSize) var(--gradientCheckerboardSize);
}

.background--checkerboard {
  background-image:
    linear-gradient(var(--gradientCheckerboard)),
    linear-gradient(var(--gradientCheckerboard));
}

.background--checkerboard-inverse {
  background-color: var(--backgroundColorInverse);
  background-image:
    linear-gradient(var(--gradientCheckerboardInverse)),
    linear-gradient(var(--gradientCheckerboardInverse));
}

.background--inverse {
  background-color: var(--backgroundColorInverse);
}

.background--none {
  display: flex; /* no-background Previews will be static images, so center them */
  justify-content: center;
}

.frameless {
  padding: 0;
  border: none;
}
