/* stylelint-disable selector-max-class */

.root {
}

@keyframes list {
  to {
    transform: scaleY(1);
  }
}

.list {
  font-family: var(--fontFamily);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.node {
  margin: 0;
  padding: 0;
}

.node,
.item {
  &:focus {
    outline: 0;
  }
}

.folderTree .list::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  bottom: 1.1875rem;
  offset-inline-start: 0;
  offset-inline-end: auto;
  transform: scaleY(0.01);
  transform-origin: center top;
  animation-name: list;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  pointer-events: none;
}

/*
MS EDGE v15 breaks the component if CSS variables are used on pseudo elements
here, so hardcoding until this problem is hopefully resolved in Edge 16
*/

.folderTree:not(.edge) .list::before {
  width: var(--borderWidth);
  background: var(--borderColor);
}

.folderTree.edge .list::before {
  width: 0.0625rem;
  background: #73818c; /* stylelint-disable-line color-no-hex */
}

.small {
  &.indent {
    .list {
      margin-inline-start: calc(var(--baseSpacingSmall) * 3);
      margin-inline-end: 0;
    }
  }

  &.folderTree {
    .list {
      margin-inline-start: calc(var(--baseSpacingSmall) * 2);
      margin-inline-end: 0;
      padding-top: var(--baseSpacingSmall);
      margin-top: calc(-1 * var(--baseSpacingSmall));
    }
  }
}

.medium {
  &.indent {
    .list {
      margin-inline-start: calc(var(--baseSpacingMedium) * 3);
      margin-inline-end: 0;
    }
  }

  &.folderTree {
    .list {
      margin-inline-start: calc(var(--baseSpacingMedium) * 2);
      margin-inline-end: 0;
      padding-top: var(--baseSpacingMedium);
      margin-top: calc(-1 * var(--baseSpacingMedium));
    }
  }
}

.large {
  &.indent {
    .list {
      margin-inline-start: calc(var(--baseSpacingLarge) * 3);
      margin-inline-end: 0;
    }
  }

  &.folderTree {
    .list {
      margin-inline-start: calc(var(--baseSpacingLarge) * 2);
      margin-inline-end: 0;
      padding-top: var(--baseSpacingLarge);
      margin-top: calc(-1 * var(--baseSpacingLarge));
    }
  }
}

.expanded {}

/* stylelint-enable selector-max-class */
