.root {
  font-family: var(--fontFamily);
  color: var(--textColor);
  display: flex;
  min-width: 1px; /* stylelint-disable-line unit-blacklist */
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background: var(--background);
  box-shadow: var(--boxShadow);
  border: 0.0625rem solid var(--borderColor);
  border-radius: var(--borderRadius);

  &.ie11 {
    display: block;
    overflow: auto;
  }
}

.inverse {
  background: var(--inverseBackground);
  color: var(--inverseTextColor);
}

.auto,
.small,
.medium,
.large {
  max-width: 95%;
  max-height: 95%;

  &.ie11 {
    max-height: none;
  }

  &.overflow--fit:not(.ie11) {
    transform: translateY(2.5%);
  }
}

.auto {
  flex: 0 1 auto;
  min-width: var(--autoMinWidth);
}

.small {
  flex: 0 1 var(--smallMaxWidth);
}

.medium {
  flex: 0 1 var(--mediumMaxWidth);
}

.large {
  flex: 0 1 var(--largeMaxWidth);
}

.fullscreen {
  flex: 1;
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.fullscreenLayout {
  box-sizing: border-box;
  top: 0;
  left: 0; /* stylelint-disable-line property-blacklist */
  right: 0; /* stylelint-disable-line property-blacklist */
  bottom: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: var(--zIndex);
}

.fullscreenLayout--window {
  position: fixed;
}

.fullscreenLayout--parent {
  position: absolute;
}

.constrainContext {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
