/* stylelint-disable selector-max-class */

.root {
  font-weight: var(--fontWeight);
  font-family: var(--fontFamily);
  line-height: var(--lineHeight);
  color: var(--color);
  padding: 0;

  &.spacing--xxx-small {
    margin-top: var(--spacingXXXSmall);
    margin-bottom: var(--spacingXXXSmall);
  }

  &.spacing--xx-small {
    margin-top: var(--spacingXXSmall);
    margin-bottom: var(--spacingXXSmall);
  }

  &.spacing--x-small {
    margin-top: var(--spacingXSmall);
    margin-bottom: var(--spacingXSmall);
  }

  &.spacing--small {
    margin-top: var(--spacingSmall);
    margin-bottom: var(--spacingSmall);
  }

  &.spacing--medium {
    margin-top: var(--spacingMedium);
    margin-bottom: var(--spacingMedium);
  }

  &.spacing--large {
    margin-top: var(--spacingLarge);
    margin-bottom: var(--spacingLarge);
  }

  &.spacing--x-large {
    margin-top: var(--spacingXLarge);
    margin-bottom: var(--spacingXLarge);
  }

  &.spacing--xx-large {
    margin-top: var(--spacingXXLarge);
    margin-bottom: var(--spacingXXLarge);
  }

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &.delimeter--none {
    list-style-position: inside;
  }

  &.delimiter--dashed {
    list-style-position: inside;

    &:not(:first-of-type) {
      border-top: var(--delimiterDashedBorder);
    }
  }

  &.delimiter--solid {
    list-style-position: inside;

    &:not(:first-of-type) {
      border-top: var(--delimiterSolidBorder);
    }
  }
}

/* inline along with pipe, slash and arrow can be removed in v8.0.0 */
.inline {
  display: inline-block;

  &.delimiter--none .delimiter {
    margin-inline-start: var(--noneSpacing);
    margin-inline-end: var(--noneSpacing);
  }

  &.delimiter--pipe .delimiter {
    margin-inline-start: var(--pipeSpacing);
    margin-inline-end: var(--pipeSpacing);

    &::after {
      content: "\007C";
    }
  }

  &.delimiter--slash .delimiter {
    margin-inline-start: var(--slashSpacing);
    margin-inline-end: var(--slashSpacing);

    &::after {
      content: "\002F";
    }
  }

  &.delimiter--arrow .delimiter {
    margin-inline-start: var(--arrowSpacing);
    margin-inline-end: var(--arrowSpacing);

    &::after {
      content: "\003E";
    }
  }
}

.small {
  font-size: var(--fontSizeSmall);
}

.medium {
  font-size: var(--fontSizeMedium);
}

.large {
  font-size: var(--fontSizeLarge);
}

/* stylelint-enable selector-max-class */
