.button {
  background-color: var(--backgroundColor);
  border-color: var(--borderColor);
  border-width: var(--borderWeight);
  color: var(--color);
  padding: var(--padding);
  cursor: pointer;
  height: 100%;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 var(--focusOutlineWeight) var(--focusOutlineColor);
    border-color: var(--focusBorderColor);
  }
}
