.root {
  display: flex;
  flex-direction: column-reverse;

  box-sizing: border-box;
  padding: var(--padding);

  justify-self: space-around;

  text-align: var(--textAlign);

  font-family: var(--fontFamily);
}

.label {
  font-size: var(--labelFontSize);
  color: var(--labelColor);
}

.value {
  font-weight: var(--valueFontWeight);
  font-size: var(--valueFontSize);
  color: var(--valueColor);
}
