.root {
  font-weight: var(--fontWeight);
  font-family: var(--fontFamily);
  line-height: var(--lineHeight);
  color: var(--color);
  margin: 0;
  padding: 0;
}

.default {
  margin-bottom: var(--marginBottomDefault);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.delimiter--none .delimiter {
  margin-inline-start: var(--noneSpacing);
  margin-inline-end: var(--noneSpacing);
}

.delimiter--pipe .delimiter {
  margin-inline-start: var(--pipeSpacing);
  margin-inline-end: var(--pipeSpacing);

  &::after {
    content: "\007C";
  }
}

.delimiter--slash .delimiter {
  margin-inline-start: var(--slashSpacing);
  margin-inline-end: var(--slashSpacing);

  &::after {
    content: "\002F";
  }
}

.delimiter--arrow .delimiter {
  margin-inline-start: var(--arrowSpacing);
  margin-inline-end: var(--arrowSpacing);

  &::after {
    content: "\003E";
  }
}

.inline {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  box-sizing: border-box;
  line-height: var(--pipeLineHeight);
  color: var(--inlineColor);
  font-size: var(--fontSizeSmall);

  &:last-of-type {
    margin-inline-end: 0;
  }

  &:last-of-type .delimiter::after {
    content: none;
  }
}

.small {
  font-size: var(--fontSizeSmall);
}

.medium {
  font-size: var(--fontSizeMedium);
}

.large {
  font-size: var(--fontSizeLarge);
}
