.root {
  font-weight: var(--fontWeight);
  font-family: var(--fontFamily);
  line-height: var(--lineHeight);
  color: var(--color);
  margin: 0;
  padding: 0;
}

.default {
  margin-bottom: var(--marginBottomDefault);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.pipe {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  box-sizing: border-box;
  border-inline-end: var(--pipeBorderWidth) solid var(--pipeBorderColor);
  border-inline-start: none;
  line-height: var(--pipeLineHeight);
  color: var(--pipeColor);
  font-size: var(--fontSizeSmall);
  padding-inline-end: var(--pipeSpacing);
  padding-inline-start: 0;
  margin-inline-end: var(--pipeSpacing);
  margin-inline-start: 0;

  &:last-of-type {
    margin-inline-end: 0;
    border-inline-end: none;
  }
}

.small {
  font-size: var(--fontSizeSmall);
}

.medium {
  font-size: var(--fontSizeMedium);
}

.large {
  font-size: var(--fontSizeLarge);
}
