/* stylelint-disable selector-no-universal, declaration-no-important */

.no-transition * {
  transform: none !important;
  transition: none !important;
  transition-property: none !important;
  animation: none !important;
}

/* stylelint-enable selector-no-universal, declaration-no-important */
