/* stylelint-disable selector-max-type */

legend.root,
label.root {
  all: initial;
}

.root {
  display: block;
}

legend.root {
  display: table;
  width: 100%;
}

.has-content,
legend.has-content,
label.has-content {
  color: var(--color);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  margin: 0;
  text-align: inherit;
}

/* stylelint-enable selector-max-type */
