/* stylelint-disable no-descending-specificity, selector-max-class */

.root {
  box-sizing: border-box;
  position: relative;
  font-family: var(--fontFamily);
  margin-left: auto; /* stylelint-disable-line property-blacklist */
  margin-right: auto; /* stylelint-disable-line property-blacklist */
  text-align: center;
  display: block;

  &:not(.clickable) {
    background-color: var(--backgroundColor);
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}

.hero,
.content,
.button,
.heading,
.message {
  display: block;
}

.hero + .heading {
  margin: var(--largeMargin) 0 0;
}

.small .hero + .heading {
  margin: var(--mediumMargin) 0 0;
}

.hero + .message,
.heading + .message {
  margin: var(--mediumMargin) 0 0;
}

.small {
  padding: var(--paddingSmall);

  .hero {
    font-size: 3rem;
  }

  .message {
    font-size: var(--messageFontSizeSmall);
  }
}

.medium {
  padding: var(--paddingMedium);

  .hero {
    font-size: 5rem;
  }

  .message {
    font-size: var(--messageFontSizeMedium);
  }
}

.large {
  padding: var(--paddingLarge);

  .hero {
    font-size: 10rem;
  }

  .message {
    font-size: var(--messageFontSizeLarge);
  }
}

.message {
  color: var(--messageColor);
}

.hero {
  color: var(--iconColor);

  /* stylelint-disable selector-max-type */

  > img,
  > svg {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  > img {
    height: auto;
  }

  /* stylelint-enable selector-max-type */
}

.clickable {
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin: 0;
  border: var(--buttonBorderWidth) var(--buttonBorderStyle) transparent;
  border-radius: var(--buttonBorderRadius);
  background: var(--backgroundColor);
  text-decoration: none;

  &:hover {
    border-style: var(--buttonHoverBorderStyle);
  }

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
    border-color: var(--iconHoverColor);

    .hero {
      color: var(--iconHoverColor);
    }
  }

  &:active {
    background: var(--clickableActiveBg);
    border-color: var(--iconHoverColor);

    .hero,
    .message {
      color: var(--clickableActiveText);
    }
  }

  .message {
    color: var(--messageColorClickable);
  }
}

/* stylelint-enable no-descending-specificity, selector-max-class */
