.root {
  z-index: var(--zIndex);
  display: inline-block;
}

.placement--static {
  position: static;
}

.placement--end,
.placement--start {
  position: absolute;
}

.offset--x-small {
  top: var(--offsetXSmall);
}

.offset--small {
  top: var(--offsetSmall);
}

.offset--medium {
  top: var(--offsetMedium);
}

.placement--end {
  inset-inline-end: 0;
  inset-inline-start: auto;

  &.offset--x-small {
    inset-inline-end: var(--offsetXSmall);
    inset-inline-start: auto;
  }

  &.offset--small {
    inset-inline-end: var(--offsetSmall);
    inset-inline-start: auto;
  }

  &.offset--medium {
    inset-inline-end: var(--offsetMedium);
    inset-inline-start: auto;
  }
}

.placement--start {
  inset-inline-start: 0;
  inset-inline-end: auto;

  &.offset--x-small {
    inset-inline-start: var(--offsetXSmall);
    inset-inline-end: auto;
  }

  &.offset--small {
    inset-inline-start: var(--offsetSmall);
    inset-inline-end: auto;
  }

  &.offset--medium {
    inset-inline-start: var(--offsetMedium);
    inset-inline-end: auto;
  }
}
