.facade {
  position: relative;
  display: block;
  box-sizing: border-box;
  border: var(--borderWidth) var(--borderStyle) var(--borderColor);
  border-radius: var(--borderRadius);
  background: var(--background);

  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: -0.25rem;
    bottom: -0.25rem;
    left: -0.25rem; /* stylelint-disable-line property-blacklist */
    right: -0.25rem; /* stylelint-disable-line property-blacklist */
    border: var(--focusOutlineWidth) var(--focusOutlineStyle) var(--focusOutlineColor);
    border-radius: calc(var(--borderRadius) * 1.5);
    transition: all 0.2s;

    /* properties to transition on :focus */
    opacity: 0;
    transform: scale(0.95);
  }

  &.focused::before {
    opacity: 1;
    transform: scale(1);
  }

  &.inactive {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }

  &.invalid {
    border-color: var(--errorBorderColor);

    &.focused::before { /* stylelint-disable-line selector-max-class */
      border-color: var(--errorBorderColor);
    }
  }
}

/* stylelint-disable selector-max-type, no-descending-specificity */

.input,
input[type].input {
  all: initial;

  &::-ms-clear {
    display: none;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  appearance: none;
  line-height: 1; /* reset global line height */
  margin: 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
  outline: none;
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  color: var(--color);
  padding: 0 var(--padding);
  background: transparent;
  border: none;

  &:focus {
    box-shadow: initial;
  }

  &::placeholder {
    color: var(--placeholderColor);
  }

  &.small {
    font-size: var(--smallFontSize);
    height: calc(var(--smallHeight) - (2 * var(--borderWidth)));
  }

  &.medium {
    font-size: var(--mediumFontSize);
    height: calc(var(--mediumHeight) - (2 * var(--borderWidth)));
  }

  &.large {
    font-size: var(--largeFontSize);
    height: calc(var(--largeHeight) - (2 * var(--borderWidth)));
  }

  &.textAlign--start {
    text-align: start;
  }

  &.textAlign--center {
    text-align: center;
  }
}

/* stylelint-enable selector-max-type, no-descending-specificity */
