.root {
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  padding: var(--padding);
  text-align: var(--textAlign);
  font-family: var(--fontFamily);

  &.start {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.end {
    text-align: right;
  }
}

.label {
  font-size: var(--labelFontSize);
  color: var(--labelColor);
}

.value {
  font-weight: var(--valueFontWeight);
  font-size: var(--valueFontSize);
  color: var(--valueColor);
}
