.menu {
  min-width: var(--minWidth);
  max-width: var(--maxWidth);
  list-style-type: none;
  margin: 0;
  padding: 0.25rem 0;
  background: var(--background);
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -0.25rem; /* stylelint-disable-line property-blacklist */
    right: -0.25rem; /* stylelint-disable-line property-blacklist */
    bottom: -0.25rem;
    border: var(--focusBorderWidth) var(--focusBorderStyle) var(--focusBorderColor);
    border-radius: var(--focusBorderRadius);
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
  }

  &:focus {
    outline: none;

    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }
}
