.root {
  display: block;
}

@define-mixin Grid-container {
  box-sizing: border-box;
}

.visualDebug {
  border: 1px dashed red;
}

.startAtSmall {
  @mixin Grid-container;
}

@media screen and (--mediumMin) {
  .startAtMedium {
    @mixin Grid-container;
  }
}

@media screen and (--largeMin) {
  .startAtLarge {
    @mixin Grid-container;
  }
}

@media screen and (--xLargeMin) {
  .startAtXLarge {
    @mixin Grid-container;
  }
}
