.root {
  all: initial;
  border: 0;
  padding: 0.01em 0 0;
  margin: 0;
  min-width: 0;
  direction: inherit;
  text-align: start;
  opacity: inherit;
  display: block;
  width: 100%;
}

.inline {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
