.root {
  box-sizing: border-box;
  font-family: var(--fontFamily);
  display: inline-flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}

.small {
  height: var(--heightSmall);
  padding: var(--paddingSmall);
  font-size: var(--fontSizeSmall);

  .icon {
    font-size: 0.75rem;
  }
}

.medium {
  height: var(--heightMedium);
  padding: var(--padding);
  font-size: calc(var(--fontSizeMedium) - 0.0625rem);

  .icon {
    font-size: 0.75rem;
  }
}

.large {
  height: var(--heightLarge);
  padding: var(--padding);
  font-size: calc(var(--fontSizeLarge) - 0.0625rem);

  .icon {
    font-size: 0.875rem;
  }
}

.button {
  touch-action: manipulation;
  outline: none;
  position: relative;
  overflow: visible;
  transition: background-color var(--transitionTiming);

  &::before {
    content: "";
    box-sizing: border-box;
    width: calc(100% + 0.5rem);
    height: calc(100% + 0.5rem);
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    opacity: 0;
    transform: scale(0.01);
    transition: all var(--transitionTiming);
  }

  &:not(.dismissible) {
    cursor: pointer;
  }

  &:focus {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  &[aria-disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon {
  margin-inline-start: var(--iconMargin);
  margin-inline-end: 0;
  transform: translateY(0.0625rem);
  transition: all var(--transitionTiming);
  cursor: pointer;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: var(--maxWidth);
}

.default {
  background-color: var(--defaultBackground);
  border: var(--defaultBorderWidth) var(--defaultBorderStyle) var(--defaultBorderColor);
  border-radius: var(--defaultBorderRadius);
  color: var(--defaultColor);

  &.button {
    &::before {
      border: var(--defaultBorderWidth) var(--defaultBorderStyle) var(--focusOutlineColor);
      border-radius: var(--defaultBorderRadius);
    }

    &:hover {
      background-color: var(--defaultBackgroundHover);
    }
  }

  &.dismissible {
    .icon {
      color: var(--defaultIconColor);
    }

    &:hover {
      .icon {
        color: var(--defaultIconHoverColor);
      }
    }
  }
}

.inline {
  background-color: var(--inlineBackground);
  border: var(--inlineBorderWidth) var(--inlineBorderStyle) var(--inlineBorderColor);
  border-radius: var(--inlineBorderRadius);
  color: var(--inlineColor);
  cursor: text;
  margin: 0 0.2rem 0.2rem 0.2rem;


  &.button {
    &::before {
      border: var(--inlineBorderWidth) var(--inlineBorderStyle) var(--focusOutlineColor);
      border-radius: var(--inlineBorderRadius);
    }

    &:hover {
      background-color: var(--inlineBackgroundHover);
    }
  }

  &.dismissible {
    .icon {
      background-color: var(--inlineIconColor);
      border-radius: 50%;
      color: var(--inlineBackground);
      font-size: 0.75rem;
      padding: 0.25rem;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(40%, -40%);
    }

    &:hover {
      .icon {
        background-color: var(--inlineIconHoverColor);
      }
    }
  }
}
