.root {
  box-sizing: border-box;
  width: 100%;
}

.banner {
  padding: 1rem 1.7rem 0;
}

.heading {
  font-size: 1.75rem;
  font-weight: 300;
  text-decoration: none;
  color: #0084d1;
  margin: 0;
  display: inline;
}

.version {
  font-size: 0.875rem;
}
