/* stylelint-disable no-descending-specificity, selector-pseudo-class-no-unknown, color-named, selector-class-pattern, selector-max-type, color-no-hex, unit-blacklist */

:global {
  .CodeMirror {
    direction: ltr;
    position: relative;
    overflow: hidden;
    background: #f6f8fa;
    height: auto;
    font-family: var(--fontFamily);
    padding: var(--padding);
    border-radius: var(--borderRadius);
    border: var(--border);
    transition: all 0.2s ease-out;
    color: #2e383c;
    line-height: 1.4375;
    margin-bottom: 1rem;
  }

  .CodeMirror-lines {
    padding: 4px 0; /* Vertical padding around content */
    cursor: text;
    min-height: 1px; /* prevents collapsing before first draw */
  }

  .CodeMirror pre {
    padding: 0 4px; /* Horizontal padding of content */
    border-radius: 0;
    border-width: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: inherit;
    color: inherit;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    z-index: 2;
    position: relative;
    overflow: visible;
    font-variant-ligatures: contextual;
  }

  .CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
  }

  .CodeMirror-rtl pre {
    direction: rtl;
  }

  .CodeMirror-scrollbar-filler,
  .CodeMirror-gutter-filler {
    background-color: white; /* The little square between H and V scrollbars */
  }

  .CodeMirror-linenumber {
    min-width: 20px;
    text-align: right;
    white-space: nowrap;
    padding: 0;
    color: #e0e2e5;
  }

  .CodeMirror-guttermarker {
    color: #1d75b3;
  }

  .CodeMirror-guttermarker-subtle {
    color: #e0e2e5;
  }

  .CodeMirror-cursor {
    border-left: 1px solid black;
    border-right: none;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
  }

  .CodeMirror-rulers {
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    bottom: -20px;
    overflow: hidden;
  }

  .CodeMirror-ruler {
    border-left: 1px solid #ccc;
    top: 0;
    bottom: 0;
    position: absolute;
  }

  .CodeMirror-composing {
    border-bottom: 2px solid;
  }

  div.CodeMirror span.CodeMirror-matchingbracket {
    color: #0f0;
  }

  div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #f22;
  }

  .CodeMirror-matchingtag {
    background: rgba(255, 150, 0, 0.3);
  }

  .CodeMirror-activeline-background {
    background: #e8f2ff;
  }

  .CodeMirror-scroll {
    overflow: scroll;
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
    height: 100%;
    outline: none;
    position: relative;
  }

  .CodeMirror-sizer {
    position: relative;
    border-right: 30px solid transparent;
  }

  .CodeMirror-vscrollbar,
  .CodeMirror-hscrollbar,
  .CodeMirror-scrollbar-filler,
  .CodeMirror-gutter-filler {
    position: absolute;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    z-index: 6;
    display: none;
  }

  .CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;
  }

  .CodeMirror-gutter-filler {
    left: 0;
    bottom: 0;
  }

  .CodeMirror-gutters {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    z-index: 3;
    white-space: nowrap;
    border: none;
    border-right: 10px solid transparent;
    background-color: transparent;
  }

  .CodeMirror-gutter {
    white-space: normal;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -30px;
  }

  .CodeMirror-gutter-wrapper {
    position: absolute;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    z-index: 4;
    background: none; /* !important */
    border: none; /* !important */
  }

  .CodeMirror-gutter-background {
    position: absolute;
    top: 0;
    bottom: 0;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    z-index: 4;
  }

  .CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    z-index: 4;
  }

  .CodeMirror-gutter-wrapper ::selection {
    background-color: transparent;
  }

  .CodeMirror-linebackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    z-index: 0;
  }

  .CodeMirror-linewidget {
    position: relative;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    z-index: 2;
    overflow: auto;
  }

  .CodeMirror-code {
    outline: none;
    font-size: var(--fontSize);
  }

  .CodeMirror-scroll,
  .CodeMirror-sizer,
  .CodeMirror-gutter,
  .CodeMirror-gutters,
  .CodeMirror-linenumber {
    box-sizing: content-box;
  }

  .CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .CodeMirror-measure pre {
    position: static;
  }

  div.CodeMirror-cursors {
    visibility: hidden;
    position: relative;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    z-index: 3;
  }

  div.CodeMirror-dragcursors {
    visibility: visible;
  }

  .CodeMirror-focused {
    box-shadow: var(--focusBoxShadow);
    border-color: var(--focusBorderColor);
  }

  .CodeMirror-focused div.CodeMirror-cursors {
    visibility: visible;
  }

  .CodeMirror-selected {
    background: #d9d9d9;
  }

  .CodeMirror-focused .CodeMirror-selected {
    background: #d7d4f0;
  }

  .CodeMirror-crosshair {
    cursor: crosshair;
  }

  .CodeMirror-line::selection,
  .CodeMirror-line > span::selection,
  .CodeMirror-line > span > span::selection {
    background: #d7d4f0;
  }

  .cm-fat-cursor .CodeMirror-cursor {
    width: auto;
    border: 0;
    background: #7e7;
  }

  .cm-fat-cursor div.CodeMirror-cursors {
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    z-index: 1;
  }

  .cm-animate-fat-cursor {
    width: auto;
    border: 0;
    animation: blink 1.06s steps(1) infinite;
    background-color: #7e7;
  }

  @keyframes blink {
    0% {}

    50% {
      background-color: transparent;
    }
    100% {}
  }

  .cm-tab {
    display: inline-block;
    text-decoration: inherit;
  }

  .cm-s-default .cm-header {
    color: blue;
  }

  .cm-s-default .cm-quote {
    color: #090;
  }

  .cm-negative {
    color: #d44;
  }

  .cm-positive {
    color: #292;
  }

  .cm-header,
  .cm-strong {
    font-weight: bold;
  }

  .cm-em {
    font-style: italic;
  }

  .cm-link {
    text-decoration: underline;
  }

  .cm-strikethrough {
    text-decoration: line-through;
  }

  .cm-s-default .cm-keyword {
    color: #708;
  }

  .cm-s-default .cm-atom {
    color: #219;
  }

  .cm-s-default .cm-number {
    color: #164;
  }

  .cm-s-default .cm-def {
    color: #00f;
  }

  .cm-s-default .cm-variable-2 {
    color: #05a;
  }

  .cm-s-default .cm-variable-3,
  .cm-s-default .cm-type {
    color: #085;
  }

  .cm-s-default .cm-comment {
    color: #a50;
  }

  .cm-s-default .cm-string {
    color: #a11;
  }

  .cm-s-default .cm-string-2 {
    color: #f50;
  }

  .cm-s-default .cm-meta {
    color: #555;
  }

  .cm-s-default .cm-qualifier {
    color: #555;
  }

  .cm-s-default .cm-builtin {
    color: #30a;
  }

  .cm-s-default .cm-bracket {
    color: #997;
  }

  .cm-s-default .cm-tag {
    color: #170;
  }

  .cm-s-default .cm-attribute {
    color: #00c;
  }

  .cm-s-default .cm-hr {
    color: #999;
  }

  .cm-s-default .cm-link {
    color: #00c;
  }

  .cm-s-default .cm-error {
    color: #f00;
  }

  .cm-invalidchar {
    color: #f00;
  }

  .cm-searching {
    background-color: rgba(255, 255, 0, 0.4);
  }

  .cm-force-border {
    padding-right: 0.1px;
  }

  .cm-tab-wrap-hack::after {
    content: "";
  }

  span.CodeMirror-selectedtext {
    background: none;
  }

  .cm-comment {
    color: #75787b;
  }

  .cm-keyword,
  .cm-property {
    color: #1d75b3;
  }

  .cm-atom,
  .cm-number {
    color: #75438a;
  }

  .cm-node,
  .cm-tag {
    color: #9c3328;
  }

  .cm-string {
    color: #b35e14;
  }

  .cm-variable,
  .cm-qualifier {
    color: #047d65;
  }
}

/* stylelint-enable no-descending-specificity, selector-pseudo-class-no-unknown, color-named, selector-class-pattern, selector-max-type, color-no-hex, unit-blacklist */
