.root {}

.overlayLayout,
.colorOverlay {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
}

.contentLayout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content {
  align-self: center;
}

.headlineItalics {
  margin: 0 0.25rem 0 0;
}
