.root {
  box-sizing: border-box;
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  box-shadow: var(--shadow);
  border-top-width: var(--borderWidth);
  border-top-style: solid;
  border-top-color: var(--borderColor);
}

/* there is currently not a use case for the caption and if it is used the style will need to be re-worked */
.caption {
  display: block;
  font-family: var(--captionFontFamily);
  font-size: var(--captionFontSize);
  color: var(--captionColor);
  background: var(--captionBackground);
  padding: var(--captionPadding);
  text-align: center;
}

.content {
  display: block;
  position: relative;
  background: var(--contentBackground);
  padding: var(--contentPadding);
}

.iconContainer {
  position: absolute;
  top: -0.0625rem;
  offset-inline-end: -0.0313rem;
  z-index: var(--iconContainerStacking);
  width: var(--iconContainerSize);
  height: var(--iconContainerSize);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.recommendation--no {
  border-top-color: var(--noColor);

  .iconContainer {
    background: var(--noColor);
  }
}

.recommendation--yes {
  border-top-color: var(--yesColor);

  .iconContainer {
    background: var(--yesColor);
  }
}

.icon {
  color: var(--iconColor);
}
