.root {
  box-sizing: border-box;
}

.content {
  box-sizing: border-box;
  width: 100%;
  border-width: var(--borderWidth);
  border-style: var(--borderStyle);
  background: var(--background);
  border-color: var(--borderColor);
  color: var(--color);
}

.overflow {
  overflow: auto;
}

.default,
.secondary {
  flex-basis: 100%;
  min-width: 1px; /* stylelint-disable-line unit-blacklist */

  .content {
    border-left: none; /* stylelint-disable-line property-blacklist */
    border-right: none; /* stylelint-disable-line property-blacklist */
    border-bottom: none;
  }
}
