.image {
  /*
  * reset image styles (initial: all was causing conflicts
  * w/ Container's CSS and overriding height/width attrs)
  */
  margin: 0;
  padding: 0;
  float: none;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  line-height: normal;
  position: static;
  transform: none;
  max-height: none;
  min-height: 0;
  min-width: 0;
  max-width: 100%;
}

.overlayLayout {
  display: inline-block;
  vertical-align: middle;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all var(--overlayTransitionDuration);
}

.has-overlay {
  display: block; /* when image is contained in overlay, avoid extra space at bottom from inline/line-height */
}

/* if overlay or filters are updated via props, make the transition look smooth */

.has-filter,
.overlay {
  transition: all var(--effectTransitionDuration);
}

.cover,
.container--has-cover {
  width: 100%;
  height: 100%;
}

.cover {
  object-fit: cover;
}

.container--has-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container--has-overlay {
  position: relative;
  overflow: hidden; /* stops blurred images extending past overlay borders */
}
