/* stylelint-disable selector-max-class, max-nesting-depth */

.root {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.content {
  position: relative;
  display: block;
}

.with-arrow {
  .content {
    min-height: calc(var(--arrowSize) * 2);
  }

  .arrow,
  .arrow::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    box-sizing: border-box;
    pointer-events: none;
    border-style: solid;
    border-color: transparent;
  }

  .arrow {
    display: block;
    border-width: calc(var(--arrowSize) + var(--borderWidth));
  }

  .arrow::after {
    border-width: var(--arrowSize);
  }

  &.positioned--end-center,
  &.positioned--end-top,
  &.positioned--end-bottom,
  &.positioned--center-end,
  &.positioned--end {
    /* arrow start */
    padding-inline-start: var(--arrowSize);
    padding-inline-end: 0;

    .arrow {
      top: 50%;
      offset-inline-end: 100%;
      offset-inline-start: auto;
      margin-top: calc(-1 * (var(--arrowSize) + var(--borderWidth)));
      border-inline-start-width: 0;
      border-inline-end-width: var(--arrowSize);
    }

    .arrow::after {
      offset-inline-start: var(--borderWidth);
      offset-inline-end: auto;
      margin-top: calc(-1 * var(--arrowSize));
      border-inline-start-width: 0;
      border-inline-end-width: var(--arrowSize);
    }
  }

  &.positioned--start-center,
  &.positioned--start-top,
  &.positioned--start-bottom,
  &.positioned--center-start,
  &.positioned--start {
    /* arrow after */
    padding-right: var(--arrowSize); /* stylelint-disable-line property-blacklist */

    .arrow {
      top: 50%;
      offset-inline-start: 100%;
      offset-inline-end: auto;
      margin-top: calc(-1 * (var(--arrowSize) + var(--borderWidth)));
      border-inline-end-width: 0;
      border-inline-start-width: var(--arrowSize);
    }

    .arrow::after {
      offset-inline-end: var(--borderWidth);
      offset-inline-start: auto;
      margin-top: calc(-1 * var(--arrowSize));
      border-inline-end-width: 0;
      border-inline-start-width: var(--arrowSize);
    }
  }

  &.positioned--bottom,
  &.positioned--bottom-end,
  &.positioned--bottom-start,
  &.positioned--bottom-center {
    /* arrow start */
    padding-top: var(--arrowSize);

    .arrow {
      bottom: 100%;
      margin-inline-start: calc(-1 * (var(--arrowSize) + var(--borderWidth)));
      margin-inline-end: 0;
      border-top-width: 0;
    }

    .arrow::after {
      top: var(--borderWidth);
      margin-inline-start: calc(-1 * var(--arrowSize));
      margin-inline-end: 0;
      border-top-width: 0;
    }
  }

  &.positioned--top,
  &.positioned--top-start,
  &.positioned--top-end,
  &.positioned--top-center {
    /* arrow bottom */
    padding-bottom: var(--arrowSize);

    .arrow {
      top: 100%;
      margin-inline-start: calc(-1 * (var(--arrowSize) + var(--borderWidth)));
      margin-inline-end: 0;
      border-bottom-width: 0;
    }

    .arrow::after {
      bottom: var(--borderWidth);
      margin-inline-start: calc(-1 * var(--arrowSize));
      margin-inline-end: 0;
      border-bottom-width: 0;
    }
  }

  &.positioned--top,
  &.positioned--bottom,
  &.positioned--top-center,
  &.positioned--bottom-center {
    .arrow {
      left: 50%; /* stylelint-disable-line property-blacklist */
    }
  }

  &.positioned--top-start,
  &.positioned--bottom-start {
    .arrow {
      offset-inline-start: calc((var(--arrowSize) + var(--borderWidth)) * 2);
      offset-inline-end: auto;
    }
  }

  &.positioned--start-top,
  &.positioned--end-top {
    .arrow {
      top: calc((var(--arrowSize) + var(--borderWidth)) * 2);
    }
  }

  &.positioned--start-bottom,
  &.positioned--end-bottom {
    .arrow {
      top: calc(100% - (var(--arrowSize) + var(--borderWidth)) * 2);
    }
  }

  &.positioned--top-end,
  &.positioned--bottom-end {
    .arrow {
      offset-inline-start: calc(100% - (var(--arrowSize) + var(--borderWidth)) * 2);
      offset-inline-end: auto;
    }
  }
}

.default .content {
  background: var(--backgroundColor);
  color: var(--textColor);
}

.inverse .content {
  background: var(--backgroundColorInverse);
  color: var(--textColorInverse);
}

.default.with-arrow {
  &.positioned--end,
  &.positioned--end-center,
  &.positioned--center-end,
  &.positioned--end-top,
  &.positioned--end-bottom {
    /* arrow start */

    .arrow::after {
      border-inline-end-color: var(--backgroundColor);
    }

    &.with-border {
      .arrow {
        border-inline-end-color: var(--arrowBorderColor);
      }
    }
  }

  &.positioned--start,
  &.positioned--start-center,
  &.positioned--center-start,
  &.positioned--start-top,
  &.positioned--start-bottom {
    /* arrow end */

    .arrow::after {
      border-inline-start-color: var(--backgroundColor);
    }

    &.with-border {
      .arrow {
        border-inline-start-color: var(--arrowBorderColor);
      }
    }
  }

  &.positioned--bottom,
  &.positioned--bottom-end,
  &.positioned--bottom-start,
  &.positioned--bottom-center {
    /* arrow top */

    .arrow::after {
      border-bottom-color: var(--backgroundColor);
    }

    &.with-border {
      .arrow {
        border-bottom-color: var(--arrowBorderColor);
      }
    }
  }

  &.positioned--top,
  &.positioned--top-end,
  &.positioned--top-start,
  &.positioned--top-center {
    /* arrow bottom */

    .arrow::after {
      border-top-color: var(--backgroundColor);
    }

    &.with-border {
      .arrow {
        border-top-color: var(--arrowBorderColor);
      }
    }
  }
}

.inverse.with-arrow {
  &.positioned--end,
  &.positioned--end-center,
  &.positioned--center-end,
  &.positioned--end-top,
  &.positioned--end-bottom {
    /* arrow start */

    .arrow::after {
      border-inline-end-color: var(--backgroundColorInverse);
    }

    &.with-border {
      .arrow {
        border-inline-end-color: var(--borderColorInverse);
      }
    }
  }

  &.positioned--start,
  &.positioned--start-center,
  &.positioned--center-start,
  &.positioned--start-top,
  &.positioned--start-bottom {
    /* arrow end */

    .arrow::after {
      border-left-color: var(--backgroundColorInverse); /* stylelint-disable-line property-blacklist */
    }

    &.with-border {
      .arrow {
        border-left-color: var(--borderColorInverse); /* stylelint-disable-line property-blacklist */
      }
    }
  }

  &.positioned--bottom,
  &.positioned--bottom-end,
  &.positioned--bottom-start,
  &.positioned--bottom-center {
    /* arrow top */

    .arrow::after {
      border-bottom-color: var(--backgroundColorInverse);
    }

    &.with-border {
      .arrow {
        border-bottom-color: var(--borderColorInverse);
      }
    }
  }

  &.positioned--top,
  &.positioned--top-end,
  &.positioned--top-start,
  &.positioned--top-center {
    /* arrow bottom */

    .arrow::after {
      border-top-color: var(--backgroundColorInverse);
    }

    &.with-border {
      .arrow {
        border-top-color: var(--borderColorInverse);
      }
    }
  }
}

.positioned--offscreen {
  position: absolute;
  left: -999em; /* stylelint-disable-line property-blacklist */
}

/* stylelint-enable selector-max-class, max-nesting-depth */
