/* Variables are defined in ./theme.js */

.root {
  align-items: center;
  font-family: var(--fontFamily);
  background: var(--background);
  box-sizing: border-box;
  padding: var(--padding);
  border-width: var(--borderWidth);
  border-style: var(--borderStyle);
  height: var(--height);
  border-radius: 1rem;

  &:focus {
    outline: none; /* only becomes focusable when text truncation causes Tooltip to render */
  }
}

.text {
  box-sizing: border-box;
  text-transform: var(--textTransformStyle);
  font-size: var(--textFontSize);
  font-weight: var(--textFontWeight);
  letter-spacing: 0.0625rem;
  min-width: 0.0625rem;
  max-width: var(--maxWidth);
  flex: 1 0 auto;
  line-height: var(--lineHeight);
  text-align: center;
}

.default {
  border-color: var(--color);

  .text {
    color: var(--color);
  }
}

.primary {
  border-color: var(--primaryColor);

  .text {
    color: var(--primaryColor);
  }
}

.success {
  border-color: var(--successColor);

  .text {
    color: var(--successColor);
  }
}

.danger {
  border-color: var(--dangerColor);

  .text {
    color: var(--dangerColor);
  }
}

.warning {
  border-color: var(--warningColor);

  .text {
    color: var(--warningColor);
  }
}

.message {
  border-color: var(--messageColor);

  .text {
    color: var(--messageColor);
  }
}
