/* stylelint-disable selector-max-type, unit-blacklist */
html {
  height: 100%;
  font-size: 85%;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 92%;
  }
}

@media screen and (min-width: 900px) {
  html {
    font-size: 100%;
  }
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: var(--color);
  font-family: var(--fontFamily);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight);
  background: var(--background);
}

code {
  font-family: var(--fontFamilyMonospace);
  background-color: var(--codeBackground);
  border-radius: var(--codeBorderRadius);
  padding: 0.125em;
}

code[class^="lang-"] {
  padding: 0.5em;
  display: block;
}

h3 code {
  margin: 0 0.5em 0 0;
}

table code {
  background: transparent;
  border: none;
}

blockquote {
  display: block;
  background: var(--background);
  padding: var(--quotePadding);
  margin: var(--quoteMargin);
  border-top: var(--borderWidth) var(--borderStyle) var(--borderColor);
  border-bottom: var(--borderWidth) var(--borderStyle) var(--borderColor);
}

/* stylelint-enable selector-max-type */

.root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.hamburger {
  position: fixed;
  z-index: var(--menuToggleZIndex);
  top: 1.25rem;
  inset-inline-start: 0.75rem;
}
