/* stylelint-disable color-no-hex */

.root {
  color: #333;
  background: #fff;
  padding: 0.1rem 0.75rem 0.75rem;
}

.search {
  text-align: center;
  margin: 1rem;
}

.sections {
  padding: 0 1rem;
}

.navToggle {
  padding: 0.8rem 0;

  &:last-child {
    padding-bottom: 0;
  }
}

.link {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  transition: all 0.15s ease;

  &:first-child {
    flex: 1;
  }
}

.link.level--0 {
  padding: var(--linkPadding);
  margin: var(--linkMargin);

  &:last-child {
    padding-bottom: 0;
  }
}

.link.level--1 {
  padding: var(--linkPadding);
  margin: var(--linkMargin);
}

.link.level--2 {
  padding: var(--linkPadding);
  margin: var(--linkMargin);

  &:last-child {
    padding-bottom: 0;
  }
}

.categoryLink {
  padding-left: 1rem; /* stylelint-disable-line property-blacklist */

  &:first-child {
    padding-top: 0.8rem;
  }
}

.selectedLink {
  box-sizing: border-box;
  color: #0084d1;
  font-weight: 700;
  box-shadow: inset var(--borderWidth) 0 0 var(--borderColor);
}

@media only screen and (max-width: 48rem) {
  .link,
  .header {
    font-size: 1rem;
  }
}

/* stylelint-enable color-no-hex */
