name: AUTO npm release, docs deploy and ssr regression - on master
on:
  push:
    branches:
      - master
jobs:
  release:
    runs-on: ubuntu-latest
    name: Release to npm
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - name: Install packages.
        run: npm ci
      - name: Set up project.
        run: npm run bootstrap
      - name: Run tests.
        run: USE_REACT_STRICT_MODE=0 npm run test:vitest
      - name: Release to NPM
        run: npm run release
  tag:
    needs: release
    if: "startsWith(github.event.head_commit.message, 'chore(release)')"
    runs-on: ubuntu-latest
    name: Tag release commit
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up git identity
        run: git config --global user.name "instructure-ui-ci" && git config --global user.email "instructure-ui-ci@instructure.com"
        # -a -m is needed to make the tag "annotated". Lerna needs annotated tags to work correctly with verisons
      - name: Add tag
        run: git tag -a v$(./.github/workflows/calculateVersion.sh) -m v$(./.github/workflows/calculateVersion.sh)
      - name: Push tags
        run: git push origin v$(./.github/workflows/calculateVersion.sh)
