name: Visual Regression Test
on: [workflow_dispatch]
jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install Node 15
        uses: actions/setup-node@v2
        with:
          node-version: '15'
      - name: Install project dependencies
        run: yarn install --check-files
      - name: Bootstrap project
        run: yarn bootstrap
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_APP_CODE }}
          exitZeroOnChanges: true
