name: Visual Regression Test
on:
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
jobs:
  chromatic_deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install Node 15
        uses: actions/setup-node@v2
        with:
          node-version: '15'
      - name: Install project dependencies
        run: yarn install --check-files
      - name: Bootstrap project
        run: yarn bootstrap
      - name: Build Storybook examples
        run: yarn build-storybook
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: d8b52d7c3367 # We have to set this as a string so VRT can be run from forked branches as well.
          exitZeroOnChanges: true
          storybookBuildDir: ./packages/__examples__/__build__
