/* stylelint-disable unit-blacklist */
.root {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  margin-inline-end: 0;
  margin-inline-start: 0;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
}
/* stylelint-enable unit-blacklist */
