.root {
  position: absolute;
  background-color: var(--background);
  z-index: var(--zIndex);
  overflow-y: auto;
  overflow-x: hidden;
}

.shadow {
  box-shadow: var(--boxShadow);
}

.border {
  border-width: 0;
  border-color: var(--borderColor);
  border-style: var(--borderStyle);
}

.placement--start {
  left: 0;

  &.border {
    border-right-width: var(--borderWidth);
    box-sizing: border-box;
  }
}

.placement--end {
  right: 0;

  &.border {
    border-left-width: var(--borderWidth);
    box-sizing: border-box;
  }
}

.placement--start,
.placement--end {
  top: 0;
  bottom: 0;
}

.slide-start,
.slide-end {
  transition: transform var(--duration);
}

.slide-start--entering,
.slide-end--entering {
  transform: translate3d(0, 0, 0);
}

.slide-start--entered,
.slide-end--entered {
  transform: translate3d(0, 0, 0);
}

.slide-start--exited,
.slide-start--exiting {
  transform: translate3d(-100%, 0, 0);
}

.slide-end--exited,
.slide-end--exiting {
  transform: translate3d(100%, 0, 0);
}
